---
interface Props {
  url: string;
  name: string;
  isBig?: boolean;
}

const { url, name, isBig } = Astro.props;
const id = url.split("/").at(-2);
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
---

<a
  href={`/pokemons/${name}`}
  class={`rounded flex flex-col justify-center items-center text-center p-2 ${!isBig ? "border-8 shiny-border" : ""}`}
  transition:name={`${name}-${id}-image`}
>
  <img
    style={{
      background: "white",
      "border-radius": "15px",
    }}
    src={imageSrc}
    alt=""
  />

  <span
    class:list={[
      "capitalize",
      "text-xl",
      {
        "text-4xl text-blue-500": isBig,
      },
    ]}>#{id} <br /> {name}</span
  >
</a>

<style>
  .shiny-border {
    font-weight: bold;
    text-transform: uppercase;
    padding: 10%;
    color: black;
    border: 6px solid #ffe100;
    border-radius: 15px;
    background: linear-gradient(
      300deg,
      #b8870bc6,
      darkgoldenrod,
      white,
      darkgoldenrod,
      #b8870bc6
    );
    background-clip: padding-box;
    position: relative;
    box-shadow:
      0 0 20px rgba(139, 69, 19, 0.6),
      0 0 30px rgba(255, 215, 0, 0.8);
    animation: shine 1.5s;
    transition:
      background 0.5s ease-in-out,
      box-shadow 0.5s ease-in-out;
  }

  .shiny-border:hover {
    animation: none;
    background: white; /* Cambia a un blanco luminoso */
    box-shadow:
      0 0 40px rgba(255, 255, 255, 0.9),
      0 0 20px rgba(139, 69, 19, 0.7); /* Más brillo en hover */
    animation:
      levitate 3s ease-in-out infinite,
      spin 0.5s ease-in-out;
    animation-direction: normal;
  }

  /* Efecto de brillo ultra suave */
  @keyframes shine {
    100% {
      background: linear-gradient(
        300deg,
        #b8870bc6,
        darkgoldenrod,
        white,
        darkgoldenrod,
        #b8870bc6
      );
    }
    5% {
      background: linear-gradient(
        30deg,
        #b8870bc6,
        darkgoldenrod,
        white,
        darkgoldenrod,
        #b8870bc6
      );
    }
    10% {
      background: linear-gradient(
        60deg,
        #b8870bc6,
        darkgoldenrod,
        white,
        darkgoldenrod,
        #b8870bc6
      );
    }
    15% {
      background: linear-gradient(
        90deg,
        #b8870bc6,
        darkgoldenrod,
        white,
        darkgoldenrod,
        #b8870bc6
      );
    }
    20% {
      background: linear-gradient(
        120deg,
        #b8870bc6,
        darkgoldenrod,
        white,
        darkgoldenrod,
        #b8870bc6
      );
    }
    25% {
      background: linear-gradient(
        150deg,
        #b8870bc6,
        darkgoldenrod,
        white,
        darkgoldenrod,
        #b8870bc6
      );
    }
    30% {
      background: linear-gradient(
        180deg,
        #b8870bc6,
        darkgoldenrod,
        white,
        darkgoldenrod,
        #b8870bc6
      );
    }
    35% {
      background: linear-gradient(
        210deg,
        #b8870bc6,
        darkgoldenrod,
        white,
        darkgoldenrod,
        #b8870bc6
      );
    }
    40% {
      background: linear-gradient(
        240deg,
        #b8870bc6,
        darkgoldenrod,
        white,
        darkgoldenrod,
        #b8870bc6
      );
    }
    45% {
      background: linear-gradient(
        270deg,
        #b8870bc6,
        darkgoldenrod,
        white,
        darkgoldenrod,
        #b8870bc6
      );
    }
    50% {
      background: linear-gradient(
        300deg,
        #b8870bc6,
        darkgoldenrod,
        white,
        darkgoldenrod,
        #b8870bc6
      );
    }
    
  }

  /* Efecto de levitación */
  @keyframes levitate {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(330deg);
    }
  }
</style>
