---
import type { GetStaticPaths } from "astro";
import MainLayout from "@layouts/MainLayout.astro";
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "@interfaces/pokemon-list.response";

export const getStaticPaths = (async () => {
  const res = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await res.json()) as PokemonListResponse;

  return results.map(({ name, url }) => {
    const id = url.split("/").at(-2);
    return {
      params: { id: id },
      props: { name: name, url: url },
    };
  });
}) satisfies GetStaticPaths;

const {id} = Astro.params;
const {name, url} = Astro.props;

const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<MainLayout title=`Pokemon | ${name}`>
  <a href="/" class="mx-20">← Back to Pokemons List</a>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div>
      <h1 class="text-5xl capitalize">{name}</h1>
    </div>
    <br />
    <PokemonCard url={url} name={name} isBig />
    <audio controls class="mb-5">
      <source src={audioSrc} type="audio/ogg" />
    </audio>
  </section>
</MainLayout>
